@page
@model KafeYonetimSistemi.Pages.Admin.Orders.DetailsModel

@{
    ViewData["Title"] = "Sipariş Detayları";
}

<h1 class="mb-4">Sipariş Detayları</h1>

<h4 class="fw-bold text-dark mb-3">Sipariş</h4>
<hr />

<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            <!-- Status Türkçe olarak GetDescription() metodu ile gösteriliyor -->
            @Model.Order.Status.GetDescription()
        </dd>
    </dl>
    <div class="form-group mb-5">
        <a asp-page="./Edit" asp-route-id="@Model.Order.Id" class="btn btn-warning">Düzenle</a> |
        <a asp-page="./Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</div>

