@page
@model KafeYonetimSistemi.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Sipariş Listesi";
}

<h1>Sipariş Listesi</h1>

<p>
    <a asp-page="Create">Yeni Sipariş Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
                <td>
                    @item.Status.GetDescription()  <!-- Türkçe açıklama burada -->
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>

